@using Umbraco.Community.SimpleTrees.TestSite
@inherits Umbraco.Community.SimpleTrees.Web.SimpleTreeViewPage
@{
	var split = Model.Unique.Split('_');
	var packageId = split[0];
	var version = split.Length > 1 ? split[1] : null;
	var service = new NuGetService();
	var versions = (await service.GetPackageMetadata(packageId)).Reverse().ToList();
	if (versions.Count == 0)
	{
		<uui-box headline="Package not found">
			<div>
				The package with ID <strong>@packageId</strong> was not found.
			</div>
		</uui-box>
		return;
	}

	var package = versions.First();
	if (version.IsNullOrWhiteSpace())
	{
		<uui-box headline="@package.Title">
			<img src="@package.IconUrl" alt="Icon for @package.Title" style="max-width: 100px; max-height: 100px;"/>
			<div>
				@package.Description
			</div>
			<uui-button href="@package.ProjectUrl" target="_blank">
				Project URL
			</uui-button>
			@if (package.ReadmeUrl != null)
			{
				<uui-button href="@package.ReadmeUrl" target="_blank">
					Readme URL
				</uui-button>
			}
			<div>
				@versions.Count versions
			</div>
		</uui-box>
		return;
	}

	package = versions.First(x => x.Identity.Version.OriginalVersion?.InvariantStartsWith(version) ?? false);
}

<uui-box headline="@package.Title - @package.Identity.Version" style="margin-bottom: var(--uui-size-space-6);">
	<div>Published @package.Published</div>
</uui-box>
<uui-box headline="Package Dependencies">

	@foreach (var set in package.DependencySets)
	{
		<div>
			<h5>Target Framework: @set.TargetFramework</h5>
			@foreach (var dependency in set.Packages)
			{
				<div>
					@dependency.Id @dependency.VersionRange
				</div>
			}
		</div>
	}
</uui-box>

